html,body{
    height: 100vh;
}

.home-g {
    min-width: 1200px;
}

.header{
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    background:white;
    padding: 0 50px;
    border-bottom: 2px solid rgb(232, 232, 232);
}
.logo{
    margin: 0 auto;
    width: 150px;
    height: 45px;
}
.user{
    display: flex;

}
.logo img {
    width: 100%;
    height: 100%;
}
.head{
    display:flex;
    align-items: center;
}
.head h1{
    margin-left: 10px;
    line-height: 50px;
}
.head img{
    width: 50px;
    height: 50px;
}
.headscul{
    margin-right: 10px;
}
.username{
    color: rgb(141, 141, 245);
    font-weight: bold;
    margin-right: 10px;
    margin-left: 5px;
}

.content {
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 88vh;
}